.footer {
    background: #191919;
    padding: 45px 20px;
    margin-top: 100px;

    @media screen and (max-width: 670px) {
        padding: 45px 0;
    }

    &-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.02em;
        color: $primary-color;
    }

    &-content {
        @include flex(center, space-between);
        gap: 24px;
        padding: 15px 20px;

        @media screen and (max-width: 670px) {
            flex-direction: column;
            padding: 0;
            padding-top: 20px;
        }
    }

    &-input {
        background-color: #222;
        border: 1px solid #222;
        outline: none;
        padding: 13px 10px;
        width: 300px;
        border-radius: 4px;
        color: #fff;
        @media screen and (max-width: 525px) {
            width: 100%;
        }
    }

    &-button {
        border: none;
        background-color: #fff;
        padding: 10px 55px;
        color: #000;
        font-weight: 500;
        font-size: 18px;
        border-radius: 4px;
        @media screen and (max-width: 430px) {
            padding: 10px 40px;
        }
    }

    &-inputs {
        @include flex(center, unset);
        gap: 15px;

        @media screen and (max-width: 525px) {
            width: 100%;
        }
    }

    &-socials {
        @include flex(center, unset);
        gap: 14px;
    }
}